body {
    background-image: url("https://Sydney584.github.io/images/20210101_072514 (2).jpg");
    background-color: plum;
    height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card {
    background-color: sandybrown;
  }